*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    line-height: 1.5;
    color: #bbb;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color: #000;
}

h1, .h1{
    line-height: 1.3;
    font-size: 60px;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.about .col6{
    margin-left: 50px;
}

 button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #2596be;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login{
    color: #5d6162;
    background-color:#e9e3e3 ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: auto;
}
i{
    margin-right: 10px;
}

.logo{
    cursor: pointer;
    margin-left: 80px;
}

nav{
    display: flex;
    align-items: right;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 6%;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover{
    transition: all 0.3s ease 0s;
}

.aside .row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    font-size: 30px;

}

/*.container .col1{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}*/

.aside .col1 p{
    color: #645555;
    margin-bottom: 40px;
    margin-top : 40px;
    
}

hr.solid {
    border-top: 10px solid #bbb;
  }

.subtitle{
    color:#2596be;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 25px;
    vertical-align: top;
    display: inline-block;

}

   .row{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about p{
    margin-bottom: 20px;
    font-size: 16px;
  }


  .container2 .col3{
    padding-left: 50px;
  }

  .col4{
    
    margin: 0 160px;
  }

  .card_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .card_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 50px;
  }

  .card{
    width: calc(33.33% - 60px);
  }

  

   .card-img{
    display: block;
   }

   .card-header{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    color: #3d3d3d;
    margin-top: 1rem;
    margin-bottom: 1rem;
   }

   .button_holder{
    text-align: center;
   }

   .pricing{
    padding-top: 50px;
    margin-bottom: 80px;
   }

   .pricing p{
    margin-bottom: 30px;
    font-size: 15px;
   }

   center{
    margin:auto;
    width: 30%;    
   }

   .top-section{
      margin-bottom: 50px;
   }

   .tooltip {
    position: relative;
    display: inline-block;
    float: right;   
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    width: 90%;
  }

  
  table td {
    padding: 1rem;
    border: 1px solid black;
    color: #000;
  }

  table td p{
    font-size: 15px;
    color: #7c8183;

  }

  table button{
    margin-bottom: 30px;
  }

  .last_cell{
    color: #2596be;
  }

   .toggle{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 52px;
    background-color: royalblue;
    border-radius: 5%;
    border: 2px solid gray;
   }

   .toggle::after{
    content: '';
    position: absolute;
    width: 150px;
    height: 50px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: white;
    top: -1px;
    left: 0px;
    transition: all 0.5s;
   }

   p{
    font-weight: bold;
   }

   .button_toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    ;
   }

   .button_toggle .left{
    border-radius: 10px 0 0 10px ;
   }

   button.right {
    border-radius: 0 10px 10px 0;
}

   .active{
    background-color: darkcyan;
   }


  footer {
    background-color: darkcyan;
  }

  footer .row{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .footer-col ul{
    list-style: none;
  }

  .footer-col h4{
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    color: #fff;
  }

  h2{
    font-size: 33px;
    line-height: 1.5;
    margin-bottom: 19px;
  }

  .footer-col h4::before{
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #645555;
    bottom: -10px;
  }

  .footer-col ul li{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
    margin-bottom: 20px;
  }

  .footer-colul li a:hover{
    opacity: 1;
  }

  .footer-col input{
    border: none;
    width: 30em;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
    border-radius: 10px;
  }

  .footer-col input[type=submit]{
    border-radius: 30px;
    background-color: #2596be;
  }

  .footer-col .inputSubmit{
    padding: 0px 20px;
    background-color: #e91e64;
    border: none;
    color: #fff;
  }

  footer .col {
    color: #fff;
    float: left;
  }

 

  footer .row hr{
    opacity: 0.7;
  }

  footer .row .privat{
    color: white;
    display: inline-block;
    margin: 0 15px;
    
  }
 
  .footer-col button{
    color: #fff;
    background-color: #2596be;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
